[user]
	email = hemroda@gmail.com
	name = hemroda
[color]
	ui = true
[core]
	excludesFile = ~/.gitignore_global
	editor = vim
[log]
	date = local
[format]
	pretty = format:%C(reverse yellow)%h%C(auto) %C(ul normal)%s%C(auto) %d%n%C(reset)%aN <%aE> %C(cyan)%ad %C(green)(%ar)%n
[credential]
	helper = osxkeychain
