# This is Git's per-user configuration file.
[user]
	name = hemroda
	email = hemroda-dev@pm.me
[color]
	ui = true
[core]
	excludesFile = ~/.gitignore
	editor = vim
[log]
	date = local
[format]
	pretty = format:%C(reverse yellow)%h%C(auto) %C(ul normal)%s%C(auto) %d%n%C(reset)%aN <%aE> %C(cyan)%ad %C(green)(%ar)%n
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
