# System
alias ll="ls -lh --color=auto"
alias la="ls -lha --color=auto"
alias ls="ls --color=auto"
alias df="df -h"
alias cport="sudo lsof -nP -iTCP:1025 -sTCP:LISTEN"
alias vi="nvim"
alias ghostty='ghostty --config ~/.config/ghostty/config'

# Navigation
alias d="cd ~/dotfiles"
alias s="cd ~/Sites"
alias ccf="cd ~/Sites/crud_in_the_cloud-fastapi"
alias dcc="cd ~/Sites/creolecorner/"
alias py="cd ~/Sites/pystation"
alias zet="cd /Users/${USER}/Library/Mobile\ Documents/iCloud~md~obsidian/Documents/Zettelkasten"

# Docker
alias docker-clean="docker-compose down -v && docker system prune -af"

# Rails
alias bers="bundle exec rails server"
alias berc="bundle exec rails console"
alias beg="bundle exec guard"
alias fs="bundle exec foreman start"
alias bedc="bundle exec rails db:drop db:create"
alias bem="bundle exec rails db:migrate"
alias bes="bundle exec rails db:seed"
alias nuke="bedc; bem; bes"
alias be='bundle exec'
alias bi='bundle install'

# Git
alias ga="git add "
alias gaa="git add ."
alias gs="git status"
alias gcm="git commit -m "
alias gco="git checkout "
alias gb="git branch "
alias gca="git commit --amend -m "
alias gcan='git commit --amend --no-edit -a'
alias gpos="git pull origin staging"
alias gpod="git pull origin develop"
alias gpo="git pull origin "
alias gp="git push "
alias gitpushall="git push origin HEAD && git push gitlab HEAD"
alias wip="git add .;git commit -m 'wip'"
alias wipa="git add .;git commit -am 'wip'"
alias nah='git reset --hard;git clean -df'
alias please='git push --force-with-lease '
alias oops='gcan;please'
alias gclean='git branch --merged| egrep -v "(^\*|master|staging|develop)" | xargs git branch -d'
alias glcommiters="git log --format='%aN' | sort | uniq -c | sort -rn | head -10"

# Dummy
alias shrug="printf '¯\_(ツ)_/¯' | pbcopy"
alias flipt="printf '(╯°□°)╯︵ ┻━┻' | pbcopy"
alias fight="printf '(ง'̀-'́)ง' | pbcopy"
