# System
alias l="ls -la"
alias cport="sudo lsof -nP -iTCP:1025 -sTCP:LISTEN"
alias vi="vim"
alias clean_packer="rm -rf ~/.local/share/vim/site/pack/packer/start/*"

# Navigation
alias d="cd ~/.dotfiles"
alias s="cd ~/Sites"
alias c="cd ~/Sites/creolecorner/"
alias ma="cd ~/Sites/maavita"
alias la="cd ~/Sites/laterite"
alias rm="cd ~/Sites/rubymine"
alias py="cd ~/Sites/pystation"
alias w="cd ~/Sites/works"
alias n="cd ~/Sites/notes"

# Rails
alias bers="bundle exec rails server"
alias berc="bundle exec rails console"
alias beg="bundle exec guard"
alias wds="./bin/webpack-dev-server"
alias fs="bundle exec foreman start"
alias bedc="bundle exec rails db:drop db:create"
alias bem="bundle exec rails db:migrate"
alias bes="bundle exec rails db:seed"
alias nuke="bedc; bem; bes"
alias be='bundle exec'
alias bi='bundle install'

# Git
alias ga="git add "
alias gaa="git add ."
alias gs="git status"
alias gcm="git commit -m "
alias gco="git checkout "
alias gb="git branch "
alias gca="git commit --amend -m "
alias gcan='git commit --amend --no-edit -a'
alias gpos="git pull origin staging"
alias gpod="git pull origin develop"
alias gpo="git pull origin "
alias gp="git push "
alias wip="git add .;git commit -m 'wip'"
alias wipa="git add .;git commit -am 'wip'"
alias nah='git reset --hard;git clean -df'
alias please='git push --force-with-lease '
alias oops='gcan;please'
alias gclean='git branch --merged| egrep -v "(^\*|master|staging|develop)" | xargs git branch -d'

# Dummy
alias shrug="printf '¯\_(ツ)_/¯' | pbcopy"
alias flipt="printf '(╯°□°)╯︵ ┻━┻' | pbcopy"
alias fight="printf '(ง'̀-'́)ง' | pbcopy"

